* {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
	border: 0;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
aside,
figure,
figcaption {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul,
li {
	list-style: none;
	list-style-type: none;
	text-decoration: none;
}

a {
	color: #333;
	cursor: pointer;
	text-decoration: none;
}

img {
	width: 100%;
}

.inner {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.l-inner {
	margin: 0 auto;
	max-width: 1200px;
	padding: 40px;
	width: 100%;
}

.l_header {
	position: relative;
	z-index: 1;
}

.section_content {
	padding: 120px 0;
}

.section_title {
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

.l_mv {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 320px;
}

.l_mv.home_info {
	background-image: url(../img/l-home-info/l-home-info-mv.png);
}

.l_mv.l_company {
	background-image: url(../img/l-company/l-company-mvl.png);
}

.l_mv.l_qa {
	background-image: url(../img/l-qa/l-qa-mv.png);
}

.l_mv.l_event {
	background-image: url(../img/l-event/l-event-mv.png);
}

.l_mv.l_contact {
	background-image: url(../img/l-contact/l-contact-mv.png);
}

.l_mv.l_document {
	background-image: url(../img/document/l-document-mv.png);
}

.l_cate {
	align-items: center;
	display: flex;
	font-size: 48px;
	font-weight: bold;
	height: 100%;
	justify-content: center;
}

.paginate_items {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.page-numbers {
	background-color: #535D60;
	color: #FFF;
	font-size: 16px;
	line-height: 16px;
	padding: 13px 20px;
	text-align: center;
}

.page-numbers:not(:first-child) {
	margin-left: 20px;
}

.next,
.prev {
	align-items: center;
	display: flex;
	justify-content: center;
}

.next img,
.prev img {
	-o-object-fit: contain;
	height: 15px;
	object-fit: contain;
	width: 15px;
}

.drawer_nav_icon_bar {
	background-color: #000;
	height: 10px;
	position: absolute;
	transition: transform 0.5s cubic-bezier(0.03, 1.9, 0.31, -1.17) 0s;
	width: 100%;
}

.drawer_nav_icon_bar:nth-child(1) {
	top: 0;
}

.drawer_nav_icon_bar:nth-child(2) {
	top: 20px;
}

.drawer_nav_icon_bar:nth-child(3) {
	top: 40px;
}

.l_header {
	background: rgba(255, 255, 255, 0.5);
}

.l_header .header_content {
	height: 160px;
}

.header {
	background: rgba(255, 255, 255, 0.5);
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.header_content {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}

.header_logo a {
	display: block;
	padding: 5px;
}

.header_nav_lists {
	display: flex;
}

.header_nav_list:not(:first-child) {
	margin-left: 24px;
}

.header_nav_bottom {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.header_nav_sns_lists {
	display: flex;
	justify-content: flex-end;
}

.header_nav_sns_list:not(:first-child) {
	margin-left: 24px;
}

.hero_mv {
	position: relative;
	z-index: -1;
}

.hero_mv .video {
	-o-object-fit: cover;
	height: 100vh !important;
	object-fit: cover;
	width: 100vw !important;
}

.hero_mv_message {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	color: #333;
	font-size: clamp(20px, 3vw, 38px);
	left: 15%;
	line-height: 1.25;
	opacity: 0;
	padding: 20px;
	position: absolute;
	top: 55%;
}

.home_info_cate_wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 80px;
}

.home_info_cate_left {
	width: 58%;
}

.home_info_cate_left_map {
	background-image: url(../img/top/map.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 0;
	padding-top: 75%;
	position: relative;
	width: 100%;
	z-index: -1;
}

.home_info_cate_left_map_title {
	font-size: clamp(24px, 2vw, 36px);
	left: 0;
	position: absolute;
	top: 0;
}

.home_info_cate_left_map a {
	background-color: #535D60;
	border-radius: 10px;
	color: #FFF;
	display: block;
	font-size: clamp(24px, 1.5vw, 36px);
	padding: 8px;
	position: absolute;
}

.home_info_cate_left_map a:nth-of-type(1) {
	bottom: 11vw;
	left: 7vw;
}

.home_info_cate_left_map a:nth-of-type(2) {
	bottom: 2vw;
	left: 3vw;
}

.home_info_cate_left_map a:nth-of-type(3) {
	bottom: 11vw;
	right: 13vw;
}

.home_info_cate_left_map a:nth-of-type(4) {
	left: 15vw;
	top: 13vw;
}

.home_info_cate_left_map a:nth-of-type(5) {
	bottom: 9vw;
	right: 19vw;
}

.home_info_cate_right {
	margin-left: 20px;
	width: 38%;
}

.home_info_cate_right_wrap {
	width: 48%;
}

.home_info_cate_right_price_title,
.home_info_cate_right_type_title {
	font-size: clamp(24px, 1.25vw, 36px);
}

.home_info_cate_right_price_btn,
.home_info_cate_right_type_btn {
	margin-top: 20px;
}

.home_info_cate_right_price_btn a,
.home_info_cate_right_type_btn a {
	background-color: #535D60;
	border-radius: 10px;
	color: #FFF;
	display: inline-block;
	font-size: clamp(16px, 1.5vw, 24px);
	padding: 10px 20px;
}

.home_info_cate_right_price_btn a span,
.home_info_cate_right_type_btn a span {
	display: inline-block;
	font-size: 16px;
	line-height: 16px;
	margin-left: 5px;
	vertical-align: middle;
}

.home_info_cate_right_price {
	width: 48%;
}

.home_info_cate_right_order {
	background-color: #535D60;
	border-radius: 10px;
	color: #FFF;
	display: block;
	font-size: clamp(24px, 2vw, 36px);
	padding: 10px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.future {
	background-color: #DBDFD8;
}

.future_content_rows {
	margin-top: 30px;
}

.future_content_row {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.future_content_row:not(:first-child) {
	margin-top: 30px;
}

.future_content_row:nth-child(even) {
	flex-direction: row-reverse;
}

.future_content_row_left {
	width: 50%;
}

p.future_content_row_left_point {
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.0509803922);
	display: inline-block;
	font-size: 36px;
	font-weight: bold;
	padding: 10px 15px;
}

p.future_content_row_left_point span {
	display: inline-block;
	font-size: 55px;
	font-weight: bold;
	margin-left: 5px;
	vertical-align: sub;
}

.future_content_row_left_title {
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
}

p.future_content_row_left_message {
	line-height: 1.5;
	margin-top: 20px;
}

.future_content_row_right {
	width: 38%;
}

.staff_content_rows {
	margin-top: 40px;
}

.staff_content_row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.staff_content_row:nth-child(even) {
	flex-direction: row-reverse;
}

.staff_content_row:not(:first-child) {
	margin-top: 40px;
}

.staff_content_row img {
	width: 30%;
}

.staff_content_row_body {
	width: 55%;
}

.staff_content_row_body_top {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.staff_content_row_body_name {
	font-size: 32px;
}

.staff_content_row_body_type {
	width: 60%;
}

.staff_content_row_body_message {
	line-height: 1.5;
	margin-top: 30px;
}

.event_content_card_items {
	display: grid;
	grid-template-rows: auto;
	margin-top: 60px;
}

.event_content_card_item {
	border-radius: 10px;
	box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.6);
	overflow: hidden;
}

.event_content_card_item article a {
	display: block;
}

.event_content_card_item article a img {
	display: block;
	height: 260px;
}

.event_content_card_item article a time {
	display: block;
}

.event_content_card_item article a h3.event_item_title {
	font-size: 18px;
	margin-top: 5px;
}

.event_item_body {
	padding: 15px;
}

.event_view_more {
	background-color: #535D60;
	border-radius: 10px;
	color: #FFF;
	display: block;
	font-size: 36px;
	font-weight: bold;
	margin: 45px auto 0;
	padding: 25px 45px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.contact_content.section_content {
	line-height: 1.3;
	padding: 0 0 120px;
}

.contact_content a {
	background-color: #535D60;
	border-radius: 10px;
	color: #FFF;
	display: block;
	font-size: 36px;
	font-weight: bold;
	margin: 0 auto;
	overflow: hidden;
	padding: 25px 45px;
	text-align: center;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

footer {
	background-color: #DBDFD8;
	padding: 40px 0;
}

.footer_logo {
	margin: 0 auto;
	width: 135px;
}

.footer_nav_items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
}

.footer_nav_item a {
	display: block;
	padding: 5px;
}

.footer_sns_items {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.footer_sns_item {
	width: 32px;
}

.footer_sns_item:not(:first-child) {
	margin-left: 20px;
}

.footer_sns_item a {
	display: block;
	padding: 5px;
}

.page_top {
	align-items: center;
	background-color: #535D60;
	border-radius: 50%;
	bottom: 30px;
	display: flex;
	height: 60px;
	justify-content: center;
	position: fixed;
	right: 30px;
	width: 60px;
}

.page_top img {
	-o-object-fit: contain;
	display: block;
	height: 30px;
	object-fit: contain;
	width: 30px;
}

* {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
	border: 0;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
aside,
figure,
figcaption {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul,
li {
	list-style: none;
	list-style-type: none;
	text-decoration: none;
}

a {
	color: #333;
	cursor: pointer;
	text-decoration: none;
}

img {
	width: 100%;
}

.inner {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.l-inner {
	margin: 0 auto;
	max-width: 1200px;
	padding: 40px;
	width: 100%;
}

.l_header {
	position: relative;
	z-index: 1;
}

.section_content {
	padding: 120px 0;
}

.section_title {
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

.l_mv {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 320px;
}

.l_mv.home_info {
	background-image: url(../img/l-home-info/l-home-info-mv.png);
}

.l_mv.l_company {
	background-image: url(../img/l-company/l-company-mvl.png);
}

.l_mv.l_qa {
	background-image: url(../img/l-qa/l-qa-mv.png);
}

.l_mv.l_event {
	background-image: url(../img/l-event/l-event-mv.png);
}

.l_mv.l_contact {
	background-image: url(../img/l-contact/l-contact-mv.png);
}

.l_mv.l_document {
	background-image: url(../img/document/l-document-mv.png);
}

.l_cate {
	align-items: center;
	display: flex;
	font-size: 48px;
	font-weight: bold;
	height: 100%;
	justify-content: center;
}

.paginate_items {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.page-numbers {
	background-color: #535D60;
	color: #FFF;
	font-size: 16px;
	line-height: 16px;
	padding: 13px 20px;
	text-align: center;
}

.page-numbers:not(:first-child) {
	margin-left: 20px;
}

.next,
.prev {
	align-items: center;
	display: flex;
	justify-content: center;
}

.next img,
.prev img {
	-o-object-fit: contain;
	height: 15px;
	object-fit: contain;
	width: 15px;
}

.l_cate_title {
	background-color: #535D60;
	border-radius: 10px;
	color: #FFF;
	font-size: 32px;
	font-weight: bold;
	padding: 10px 20px;
}

.l_cate_items {
	display: grid;
	gap: 10px 20px;
	margin-top: 30px;
}

.l_cate_item {
	border-radius: 10px;
	box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.6);
	overflow: hidden;
}

.l_cate_item article a {
	display: block;
}

.l_cate_item article a img {
	-o-object-fit: cover;
	display: block;
	height: 260px;
	object-fit: cover;
}

.l_home_info_body_top {
	padding: 10px;
}

.l_home_info_time {
	padding-top: 5px;
}

.l_home_info_body_bottom {
	padding: 0 10px 10px;
}

.l_cate_document_cta {
	padding: 40px 0;
}

.l_cate_document_cta a {
	background-color: #535D60;
	border-radius: 10px;
	color: #FFF;
	display: block;
	font-size: 36px;
	font-weight: bold;
	margin: 0 auto;
	padding: 25px 45px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.l_cate_document_cta_message {
	color: orange;
	margin-top: 20px;
	text-align: center;
}

.l_single_post_title {
	background-color: #535D60;
	border-radius: 10px;
	color: #FFF;
	font-size: 36px;
	font-weight: bold;
	padding: 15px 15px 15px 20px;
}

.swiper-wrapper {
	margin-top: 20px;
}

.swiper-slide picture {
	aspect-ratio: 4/3;
	border-radius: 30px;
	display: block;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	width: 80%;
}

.swiper-slide picture img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.swiper-button-prev,
.swiper-button-next {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 60px;
	margin-top: 0;
	transform: translateY(-50%);
	width: 60px;
}

.swiper-button-prev {
	background-image: url(../img/l-home-info/l-home-info-single/l-home-info-slide-prevpng.png);
	left: 0;
}

.swiper-button-prev::after {
	display: none;
}

.swiper-button-next {
	background-image: url(../img/l-home-info/l-home-info-single/l-home-info-slide-next.png);
	right: 0;
}

.swiper-button-next::after {
	display: none;
}

.swiper-container {
	overflow-x: hidden;
	width: 100%;
}

.swiper-container.slider {
	height: 80vh;
}

.swiper-container.slider-thumbnail {
	height: auto;
}

.swiper-container.slider-thumbnail .swiper-wrapper .swiper-slide {
	aspect-ratio: 4/3;
	height: 100%;
	opacity: 0.5;
	overflow: hidden;
	width: 25% !important;
}

.swiper-container.slider-thumbnail .swiper-wrapper .swiper-slide img {
	display: block;
	height: 100%;
}

.swiper-container.slider-thumbnail .swiper-wrapper .swiper-slide.swiper-slide-thumb-active {
	opacity: 1;
}

.l_single_post_part_top {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

.l_single_post_time {
	line-height: 1.5;
	width: 50%;
}

.l_single_post_cate_lists {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 50%;
}

.l_single_post_cate_list {
	align-items: center;
	background-color: #535D60;
	border-radius: 20px;
	color: #FFF;
	display: flex;
	justify-content: center;
	padding: 10px 0;
	width: 45%;
}

.l_single_post_cate_list:nth-child(n+3) {
	margin-top: 20px;
}

.l_single_post_cate_list:not(:nth-child(2n+1)) {
	margin-left: 20px;
}

table.l_home_info_s_ta {
	background-color: #FFF;
	border-collapse: collapse;
	margin-top: 20px;
	width: 100%;
}

table.l_home_info_s_ta tr th,
table.l_home_info_s_ta tr td {
	border: 1px solid #333;
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
}

table.l_home_info_s_ta tr th {
	background-color: #535D60;
	color: #FFF;
	line-height: 2;
	text-align: center;
}

table.l_home_info_s_ta tr td a {
	color: #D9BD59;
}

.l_single_post_message {
	margin-top: 40px;
}

.l_single_post_sutaff_message_title {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.l_single_post_map {
	height: 400px;
	margin: 30px calc(50% - 50vw) 0;
}

.l_single_post_map iframe {
	height: 100%;
	width: 100%;
}

.l_single_post_cta_g {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 30px;
}

.l_single_post_cta_g a {
	background-color: #535D60;
	border-radius: 10px;
	color: #FFF;
	font-size: 36px;
	font-weight: bold;
	padding: 25px 30px;
}

.l_home_info_drawer_content {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	margin: 0 auto;
	padding-top: 170px;
	width: 75%;
}

.l_home_info_drawer_content .l_home_info_cate_serach_title {
	font-size: 48px;
	font-weight: bold;
	padding: 15px 0;
}

.l_home_info_drawer_content .home_info_cate_wrapper {
	margin-top: 20px;
}

.l_home_info_drawer_content .home_info_cate_wrapper .home_info_cate_left {
	width: 100%;
}

.l_home_info_drawer_content .home_info_cate_wrapper .home_info_cate_left .home_info_cate_left_map a:nth-of-type(4) {
	left: 12vw;
	top: 10vw;
}

.l_home_info_drawer_content .home_info_cate_wrapper .home_info_cate_right {
	width: 100%;
}

.l_home_info_drawer_content .home_info_cate_wrapper .home_info_cate_right .home_info_cate_right_wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 40px;
}

.l_home_info_drawer_content .home_info_cate_wrapper .home_info_cate_right .home_info_cate_right_price {
	width: 48%;
}

.l_home_info_drawer_content .home_info_cate_wrapper .home_info_cate_right .home_info_cate_right_price .home_info_cate_right_price_btn {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(2, 1fr);
}

.l_home_info_drawer_content .home_info_cate_wrapper .home_info_cate_right .home_info_cate_right_price .home_info_cate_right_price_btn a {
	font-size: clamp(13px, 1vw, 24px);
	line-height: 1.4;
	text-align: center;
}

.l_home_info_drawer_content .home_info_cate_wrapper .home_info_cate_right .home_info_cate_right_price .home_info_cate_right_price_btn a:not(:nth-child(3n+1)) {
	margin-left: 0;
}

.l_home_info_drawer_content .home_info_cate_wrapper .home_info_cate_right .home_info_cate_right_price .home_info_cate_right_price_btn a:nth-child(n+4) {
	margin-top: 0;
}

.l_home_info_drawer_content .home_info_cate_wrapper .home_info_cate_right .home_info_cate_right_wrap {
	width: 48%;
}

.l_home_info_drawer_content .home_info_cate_wrapper .home_info_cate_right .home_info_cate_right_wrap .home_info_cate_right_type {
	margin-top: 0;
}

.l_home_info_drawer_content .home_info_cate_wrapper .home_info_cate_right .home_info_cate_right_wrap .home_info_cate_right_type .home_info_cate_right_type_btn a {
	font-size: clamp(13px, 1vw, 24px);
}

.l_home_info_drawer_content .home_info_cate_wrapper .home_info_cate_right .home_info_cate_right_wrap .home_info_cate_right_order {
	font-size: clamp(13px, 1vw, 24px);
}

* {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
	border: 0;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
aside,
figure,
figcaption {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul,
li {
	list-style: none;
	list-style-type: none;
	text-decoration: none;
}

a {
	color: #333;
	cursor: pointer;
	text-decoration: none;
}

img {
	width: 100%;
}

.inner {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.l-inner {
	margin: 0 auto;
	max-width: 1200px;
	padding: 40px;
	width: 100%;
}

.l_header {
	position: relative;
	z-index: 1;
}

.section_content {
	padding: 120px 0;
}

.section_title {
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

.l_mv {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 320px;
}

.l_mv.home_info {
	background-image: url(../img/l-home-info/l-home-info-mv.png);
}

.l_mv.l_company {
	background-image: url(../img/l-company/l-company-mvl.png);
}

.l_mv.l_qa {
	background-image: url(../img/l-qa/l-qa-mv.png);
}

.l_mv.l_event {
	background-image: url(../img/l-event/l-event-mv.png);
}

.l_mv.l_contact {
	background-image: url(../img/l-contact/l-contact-mv.png);
}

.l_mv.l_document {
	background-image: url(../img/document/l-document-mv.png);
}

.l_cate {
	align-items: center;
	display: flex;
	font-size: 48px;
	font-weight: bold;
	height: 100%;
	justify-content: center;
}

.paginate_items {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.page-numbers {
	background-color: #535D60;
	color: #FFF;
	font-size: 16px;
	line-height: 16px;
	padding: 13px 20px;
	text-align: center;
}

.page-numbers:not(:first-child) {
	margin-left: 20px;
}

.next,
.prev {
	align-items: center;
	display: flex;
	justify-content: center;
}

.next img,
.prev img {
	-o-object-fit: contain;
	height: 15px;
	object-fit: contain;
	width: 15px;
}

.l_company_content {
	padding: 60px 0;
}

.l_company_wrap {
	display: flex;
	justify-content: space-between;
}

.l_company_content_left {
	width: 48%;
}

.l_company_row {
	align-items: center;
	border-bottom: 1px solid #333;
	display: flex;
	padding: 10px 0;
}

.l_company_dt {
	width: 30%;
}

.l_company_dd {
	width: 70%;
}

.l_company_content_right {
	margin: 0;
	width: 48%;
}

.l_company_access_map {
	margin: 40px calc(50% - 50vw) 0;
}

.l_company_access_map iframe {
	height: 400px;
	width: 100%;
}

* {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
	border: 0;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
aside,
figure,
figcaption {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul,
li {
	list-style: none;
	list-style-type: none;
	text-decoration: none;
}

a {
	color: #333;
	cursor: pointer;
	text-decoration: none;
}

img {
	width: 100%;
}

.inner {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.l-inner {
	margin: 0 auto;
	max-width: 1200px;
	padding: 40px;
	width: 100%;
}

.l_header {
	position: relative;
	z-index: 1;
}

.section_content {
	padding: 120px 0;
}

.section_title {
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

.l_mv {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 320px;
}

.l_mv.home_info {
	background-image: url(../img/l-home-info/l-home-info-mv.png);
}

.l_mv.l_company {
	background-image: url(../img/l-company/l-company-mvl.png);
}

.l_mv.l_qa {
	background-image: url(../img/l-qa/l-qa-mv.png);
}

.l_mv.l_event {
	background-image: url(../img/l-event/l-event-mv.png);
}

.l_mv.l_contact {
	background-image: url(../img/l-contact/l-contact-mv.png);
}

.l_mv.l_document {
	background-image: url(../img/document/l-document-mv.png);
}

.l_cate {
	align-items: center;
	display: flex;
	font-size: 48px;
	font-weight: bold;
	height: 100%;
	justify-content: center;
}

.paginate_items {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.page-numbers {
	background-color: #535D60;
	color: #FFF;
	font-size: 16px;
	line-height: 16px;
	padding: 13px 20px;
	text-align: center;
}

.page-numbers:not(:first-child) {
	margin-left: 20px;
}

.next,
.prev {
	align-items: center;
	display: flex;
	justify-content: center;
}

.next img,
.prev img {
	-o-object-fit: contain;
	height: 15px;
	object-fit: contain;
	width: 15px;
}

.l_qa_content_items {
	margin: 0 auto;
	width: 80%;
}

.l_qa_content_item_dt,
.l_qa_content_item_dd {
	padding: 10px 30px;
}

.l_qa_content_item_dt {
	font-size: 24px;
	font-weight: bold;
	position: relative;
}

.l_qa_content_item_dt.is-open .l_qa_content_item_dt_bars .l_qa_content_item_dt_bar:nth-child(2) {
	transform: rotate(90deg);
}

.l_qa_content_item_dt::before {
	color: blue;
	content: "Q";
	margin-right: 10px;
}

.l_qa_content_item_dt .l_qa_content_item_dt_bars {
	background-color: transparent;
	display: inline-block;
	height: 100%;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 30px;
}

.l_qa_content_item_dt .l_qa_content_item_dt_bars .l_qa_content_item_dt_bar {
	background-color: #333;
	height: 3px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.5s ease 0s;
	width: 100%;
}

.l_qa_content_item_dd {
	display: none;
}

.l_qa_content_item_dd::before {
	color: red;
	content: "A";
	font-size: 24px;
	font-weight: bold;
	margin-right: 10px;
}

* {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
	border: 0;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
aside,
figure,
figcaption {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul,
li {
	list-style: none;
	list-style-type: none;
	text-decoration: none;
}

a {
	color: #333;
	cursor: pointer;
	text-decoration: none;
}

img {
	width: 100%;
}

.inner {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.l-inner {
	margin: 0 auto;
	max-width: 1200px;
	padding: 40px;
	width: 100%;
}

.l_header {
	position: relative;
	z-index: 1;
}

.section_content {
	padding: 120px 0;
}

.section_title {
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

.l_mv {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 320px;
}

.l_mv.home_info {
	background-image: url(../img/l-home-info/l-home-info-mv.png);
}

.l_mv.l_company {
	background-image: url(../img/l-company/l-company-mvl.png);
}

.l_mv.l_qa {
	background-image: url(../img/l-qa/l-qa-mv.png);
}

.l_mv.l_event {
	background-image: url(../img/l-event/l-event-mv.png);
}

.l_mv.l_contact {
	background-image: url(../img/l-contact/l-contact-mv.png);
}

.l_mv.l_document {
	background-image: url(../img/document/l-document-mv.png);
}

.l_cate {
	align-items: center;
	display: flex;
	font-size: 48px;
	font-weight: bold;
	height: 100%;
	justify-content: center;
}

.paginate_items {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.page-numbers {
	background-color: #535D60;
	color: #FFF;
	font-size: 16px;
	line-height: 16px;
	padding: 13px 20px;
	text-align: center;
}

.page-numbers:not(:first-child) {
	margin-left: 20px;
}

.next,
.prev {
	align-items: center;
	display: flex;
	justify-content: center;
}

.next img,
.prev img {
	-o-object-fit: contain;
	height: 15px;
	object-fit: contain;
	width: 15px;
}

.l_event_content.section_content {
	padding: 20px 0;
}

.l_event_top_message {
	font-size: 24px;
	text-align: center;
}

.l_single_event_post_content .l_single_event_post_title {
	background-color: #535D60;
	border-radius: 10px;
	color: #FFF;
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 0.3em;
	line-height: 28px;
	padding: 10px 20px;
}

.l_single_event_post_content img {
	border-radius: 10px;
	margin-top: 40px;
	overflow: hidden;
}

.single_event_nav_link {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

.single_event_nav_link li + li {
	margin-left: 20px;
}

.single_event_nav_link a {
	background-color: #535D60;
	border-radius: 10px;
	color: #FFF;
	display: block;
	padding: 10px;
}

* {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
	border: 0;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
aside,
figure,
figcaption {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul,
li {
	list-style: none;
	list-style-type: none;
	text-decoration: none;
}

a {
	color: #333;
	cursor: pointer;
	text-decoration: none;
}

img {
	width: 100%;
}

.inner {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.l-inner {
	margin: 0 auto;
	max-width: 1200px;
	padding: 40px;
	width: 100%;
}

.l_header {
	position: relative;
	z-index: 1;
}

.section_content {
	padding: 120px 0;
}

.section_title {
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

.l_mv {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 320px;
}

.l_mv.home_info {
	background-image: url(../img/l-home-info/l-home-info-mv.png);
}

.l_mv.l_company {
	background-image: url(../img/l-company/l-company-mvl.png);
}

.l_mv.l_qa {
	background-image: url(../img/l-qa/l-qa-mv.png);
}

.l_mv.l_event {
	background-image: url(../img/l-event/l-event-mv.png);
}

.l_mv.l_contact {
	background-image: url(../img/l-contact/l-contact-mv.png);
}

.l_mv.l_document {
	background-image: url(../img/document/l-document-mv.png);
}

.l_cate {
	align-items: center;
	display: flex;
	font-size: 48px;
	font-weight: bold;
	height: 100%;
	justify-content: center;
}

.paginate_items {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.page-numbers {
	background-color: #535D60;
	color: #FFF;
	font-size: 16px;
	line-height: 16px;
	padding: 13px 20px;
	text-align: center;
}

.page-numbers:not(:first-child) {
	margin-left: 20px;
}

.next,
.prev {
	align-items: center;
	display: flex;
	justify-content: center;
}

.next img,
.prev img {
	-o-object-fit: contain;
	height: 15px;
	object-fit: contain;
	width: 15px;
}

.l_contact_form_bg {
	background-image: url(../img/form/l-form-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.l_contactform_content {
	margin: 0 auto;
	padding: 100px 0;
	width: 80%;
}

.l_contact_top_message {
	line-height: 1.5;
	margin: 0 auto;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.l_contact_form_dl {
	margin-top: 60px;
}

.l_contact_form_row {
	display: flex;
	flex-wrap: wrap;
}

.l_contact_form_row:not(:first-child) {
	margin-top: 40px;
}

.l_contact_form_dd [type=tel],
.l_contact_form_dd [type=text],
.l_contact_form_dd [type=email],
.l_contact_form_dd [type=datetime-local] {
	border: none;
	border-radius: 10px;
	cursor: pointer;
	display: block;
	height: 50px;
	opacity: 0.7;
	padding: 10px;
	width: 100%;
}

.l_contact_form_dd [type=datetime-local] {
	margin-top: 10px;
}

.l_contact_form_dd select {
	border: none;
	border-radius: 10px;
	cursor: pointer;
	height: 50px;
	opacity: 0.7;
	padding: 10px;
	width: 100%;
}

.l_contact_form_dd textarea {
	border: none;
	border-radius: 10px;
	cursor: pointer;
	height: 250px;
	opacity: 0.7;
	padding: 10px;
	resize: none;
	width: 100%;
}

.datetime_local_wrap:not(:first-child) {
	margin-top: 20px;
}

[type=submit] {
	background-color: #535D60;
	border: none;
	border-radius: 10px;
	color: #FFF;
	cursor: pointer;
	display: block;
	font-size: 36px;
	font-weight: bold;
	margin: 40px auto 0;
	padding: 10px 30px;
	width: 20%;
}

* {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
	border: 0;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
aside,
figure,
figcaption {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul,
li {
	list-style: none;
	list-style-type: none;
	text-decoration: none;
}

a {
	color: #333;
	cursor: pointer;
	text-decoration: none;
}

img {
	width: 100%;
}

.inner {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.l-inner {
	margin: 0 auto;
	max-width: 1200px;
	padding: 40px;
	width: 100%;
}

.l_header {
	position: relative;
	z-index: 1;
}

.section_content {
	padding: 120px 0;
}

.section_title {
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

.l_mv {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 320px;
}

.l_mv.home_info {
	background-image: url(../img/l-home-info/l-home-info-mv.png);
}

.l_mv.l_company {
	background-image: url(../img/l-company/l-company-mvl.png);
}

.l_mv.l_qa {
	background-image: url(../img/l-qa/l-qa-mv.png);
}

.l_mv.l_event {
	background-image: url(../img/l-event/l-event-mv.png);
}

.l_mv.l_contact {
	background-image: url(../img/l-contact/l-contact-mv.png);
}

.l_mv.l_document {
	background-image: url(../img/document/l-document-mv.png);
}

.l_cate {
	align-items: center;
	display: flex;
	font-size: 48px;
	font-weight: bold;
	height: 100%;
	justify-content: center;
}

.paginate_items {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.page-numbers {
	background-color: #535D60;
	color: #FFF;
	font-size: 16px;
	line-height: 16px;
	padding: 13px 20px;
	text-align: center;
}

.page-numbers:not(:first-child) {
	margin-left: 20px;
}

.next,
.prev {
	align-items: center;
	display: flex;
	justify-content: center;
}

.next img,
.prev img {
	-o-object-fit: contain;
	height: 15px;
	object-fit: contain;
	width: 15px;
}

@media screen and (min-width: 768px) and (max-width:999px) {

.inner {
	padding: 0 40px;
}

.drawer_nav_icon {
	display: block;
	height: 60px;
	position: fixed;
	right: 20px;
	top: 40px;
	width: 60px;
	z-index: 1;
}

.drawer_nav_icon.is-active .drawer_nav_icon_bar:nth-child(1) {
	top: 20px;
	transform: rotate(-45deg);
}

.drawer_nav_icon.is-active .drawer_nav_icon_bar:nth-child(2) {
	opacity: 0;
	top: 20px;
}

.drawer_nav_icon.is-active .drawer_nav_icon_bar:nth-child(3) {
	top: 20px;
	transform: rotate(45deg);
}

.drawer_nav_content {
	background-color: #535D60;
	bottom: 0;
	height: 100%;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 0;
	transition: opacity 1s cubic-bezier(0.98, -0.19, 0, 1.24) 0s;
	width: 100%;
	z-index: 0;
}

.drawer_nav_content.is-active {
	opacity: 1;
	pointer-events: painted;
}

.drawer_nav_content .header_nav {
	display: flex;
	flex-direction: column;
	height: 100%;
	height: 60%;
	justify-content: center;
	opacity: 1;
	padding-top: 160px;
}

.drawer_nav_content .header_nav_lists {
	align-items: center;
	flex-direction: column;
	height: 100%;
	justify-content: flex-start;
}

.drawer_nav_content .header_nav_list {
	height: 25%;
	margin-left: 0;
	padding-left: 35vw;
	width: 100%;
}

.drawer_nav_content .header_nav_list a {
	color: #FFF;
	font-size: 36px;
	font-weight: bold;
}

.drawer_nav_content .header_nav_bottom {
	display: block;
	display: flex;
	flex-direction: column;
	height: 40%;
	justify-content: flex-start;
}

.drawer_nav_content .header_nav_bottom a {
	color: #FFF;
	display: block;
	font-size: 36px;
	font-weight: bold;
	height: 50%;
	padding: 10px;
}

.drawer_nav_background {
	opacity: 1;
}

.l_header .header_content {
	height: 100px;
}

.l_header .header_content .header_logo {
	position: fixed;
}

.header_logo {
	width: 150px;
}

.header_nav {
	display: none;
}

.home_info_cate_left {
	width: 100%;
}

.home_info_cate_left_map a:nth-of-type(3) {
	bottom: 30vw;
	right: 32vw;
}

.home_info_cate_left_map a:nth-of-type(4) {
	left: 28vw;
	top: 30vw;
}

.home_info_cate_left_map a:nth-of-type(5) {
	bottom: 11vw;
	right: 40vw;
}

.home_info_cate_right {
	margin-left: 0;
	width: 100%;
}

.home_info_cate_right_wrapper {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
}

.home_info_cate_right_price_btn a,
.home_info_cate_right_type_btn a {
	padding: 5px 10px;
}

.home_info_cate_right_price_btn a:nth-child(n+3),
.home_info_cate_right_type_btn a:nth-child(n+3) {
	margin-top: 10px;
}

.home_info_cate_right_order {
	font-size: clamp(16px, 1.5vw, 24px);
	margin-top: 30px;
}

.future_content_row_left {
	width: 100%;
}

.future_content_row_right {
	margin-top: 20px;
	width: 100%;
}

.staff_content_row img {
	width: 100%;
}

.staff_content_row_body {
	margin-top: 20px;
	width: 100%;
}

.event_content_card_items {
	gap: 20px;
	grid-template-columns: repeat(2, 1fr);
}

.footer_nav_item {
	width: 33%;
}

.footer_nav_item a {
	text-align: center;
}

.inner {
	padding: 0 40px;
}

.l_cate_items {
	grid-template-columns: repeat(2, 1fr);
}

.l_single_post_cta_g a {
	font-size: 28px;
}

p.l_home_info_drawer_icon_c {
	display: none;
}

.l_home_info_side .l_home_info_drawer_content {
	padding-bottom: 100px;
}

.l_home_info_side .l_home_info_drawer_content .home_info_cate_wrapper .home_info_cate_left .home_info_cate_left_map a:nth-child(n+3) {
	margin-top: 0;
}

.l_home_info_side .l_home_info_drawer_content .home_info_cate_wrapper .home_info_cate_left .home_info_cate_left_map a:nth-of-type(1) {
	bottom: 20vw;
	left: 13vw;
}

.l_home_info_side .l_home_info_drawer_content .home_info_cate_wrapper .home_info_cate_left .home_info_cate_left_map a:nth-of-type(3) {
	bottom: 22vw;
	right: 25vw;
}

.l_home_info_side .l_home_info_drawer_content .home_info_cate_wrapper .home_info_cate_left .home_info_cate_left_map a:nth-of-type(4) {
	left: 20vw;
	top: 15vw;
}

.l_home_info_side .l_home_info_drawer_content .home_info_cate_wrapper .home_info_cate_left .home_info_cate_left_map a:nth-of-type(5) {
	bottom: 11vw;
	right: 35vw;
}

.l_home_info_side .l_home_info_drawer_content .home_info_cate_wrapper .home_info_cate_right .home_info_cate_right_wrapper .home_info_cate_right_price .home_info_cate_right_price_btn a:nth-child(n+3) {
	margin-top: 0;
}

.inner {
	padding: 0 40px;
}

.inner {
	padding: 0 40px;
}

.inner {
	padding: 0 40px;
}

.inner {
	padding: 0 40px;
}

.l_contact_form_dt {
	width: 100%;
}

.l_contact_form_dd {
	margin-top: 20px;
	width: 100%;
}

.inner {
	padding: 0 40px;
}

}

@media screen and (min-width: 1000px) and (max-width:1199px) {

.drawer_nav_icon {
	display: none;
}

.drawer_nav_content {
	display: none;
	pointer-events: none;
}

.drawer_nav_background {
	opacity: 0;
}

.home_info_cate_right_wrapper {
	width: 100%;
}

.home_info_cate_right_wrap {
	width: 100%;
}

.home_info_cate_right_price_btn a:not(:nth-child(3n+1)),
.home_info_cate_right_type_btn a:not(:nth-child(3n+1)) {
	margin-left: clamp(5px, 0.5vw, 24px);
}

.home_info_cate_right_price_btn a:nth-child(n+4),
.home_info_cate_right_type_btn a:nth-child(n+4) {
	margin-top: 10px;
}

.home_info_cate_right_price {
	width: 100%;
}

.home_info_cate_right_type {
	margin-top: 50px;
}

.home_info_cate_right_order {
	margin-top: 50px;
}

.event_content_card_items {
	gap: 20px;
	grid-template-columns: repeat(3, 1fr);
}

.footer_nav_items {
	justify-content: space-around;
}

.l_cate_items {
	grid-template-columns: repeat(3, 1fr);
}

p.l_home_info_drawer_icon_c {
	display: none;
}

.l_home_info_side .l_home_info_drawer_content {
	padding-bottom: 100px;
}

.l_home_info_side .l_home_info_drawer_content .home_info_cate_wrapper .home_info_cate_left .home_info_cate_left_map a:nth-of-type(1) {
	bottom: 20vw;
	left: 13vw;
}

.l_home_info_side .l_home_info_drawer_content .home_info_cate_wrapper .home_info_cate_left .home_info_cate_left_map a:nth-of-type(3) {
	bottom: 22vw;
	right: 25vw;
}

.l_home_info_side .l_home_info_drawer_content .home_info_cate_wrapper .home_info_cate_left .home_info_cate_left_map a:nth-of-type(4) {
	left: 20vw;
	top: 15vw;
}

.l_home_info_side .l_home_info_drawer_content .home_info_cate_wrapper .home_info_cate_left .home_info_cate_left_map a:nth-of-type(5) {
	bottom: 11vw;
	right: 35vw;
}

.l_home_info_side .l_home_info_drawer_content .home_info_cate_wrapper .home_info_cate_right .home_info_cate_right_wrapper .home_info_cate_right_price .home_info_cate_right_price_btn a:nth-child(n+3) {
	margin-top: 0;
}

.l_contact_form_dt {
	width: 20%;
}

.l_contact_form_dd {
	width: 80%;
}

}

@media screen and (min-width: 1200px) {

.drawer_nav_icon {
	display: none;
}

.drawer_nav_content {
	display: none;
	pointer-events: none;
}

.drawer_nav_background {
	opacity: 0;
}

.home_info_cate_right_wrapper {
	width: 100%;
}

.home_info_cate_right_wrap {
	width: 100%;
}

.home_info_cate_right_price_btn a:not(:nth-child(3n+1)),
.home_info_cate_right_type_btn a:not(:nth-child(3n+1)) {
	margin-left: clamp(5px, 0.5vw, 24px);
}

.home_info_cate_right_price_btn a:nth-child(n+4),
.home_info_cate_right_type_btn a:nth-child(n+4) {
	margin-top: 10px;
}

.home_info_cate_right_price {
	width: 100%;
}

.home_info_cate_right_type {
	margin-top: 50px;
}

.home_info_cate_right_order {
	margin-top: 50px;
}

.event_content_card_items {
	gap: 20px;
	grid-template-columns: repeat(3, 1fr);
}

.footer_nav_item:not(:first-child) {
	margin-left: 20px;
}

.l_cate_items {
	grid-template-columns: repeat(3, 1fr);
}

.l_single_post_cta_g a:not(:first-child) {
	margin-left: 20px;
}

.l_home_info_drawer_icon {
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
	background-color: rgba(255, 255, 255, 0.25);
	border-radius: 20px;
	box-shadow: 0px 0px 64px -5px #bfbfbf;
	box-sizing: content-box;
	cursor: pointer;
	padding: 20px;
	position: fixed;
	right: 50px;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.5s ease 0s;
	width: 110px;
}

.l_home_info_drawer_icon.is-active {
	-webkit-backdrop-filter: none;
	backdrop-filter: none;
	background-color: transparent;
	box-shadow: none;
	right: 20px;
	top: 20px;
	transform: translateY(0);
	z-index: 1;
}

.l_home_info_drawer_icon.is-active .l_home_info_drawer_icon_c {
	display: none;
}

.l_home_info_drawer_icon.is-active .l_home_info_drawer_icon_bar_wrap .l_home_info_drawer_icon_bar:nth-of-type(1) {
	top: 30px;
	transform: rotate(135deg);
}

.l_home_info_drawer_icon.is-active .l_home_info_drawer_icon_bar_wrap .l_home_info_drawer_icon_bar:nth-of-type(2) {
	display: none;
}

.l_home_info_drawer_icon.is-active .l_home_info_drawer_icon_bar_wrap .l_home_info_drawer_icon_bar:nth-of-type(3) {
	top: 30px;
	transform: rotate(-135deg);
}

.l_home_info_drawer_icon.is-active .l_home_info_drawer_icon_bar_wrap .l_home_info_drawer_icon_bar:nth-of-type(4) {
	display: none;
}

.l_home_info_drawer_icon:hover .l_home_info_drawer_icon_bar:nth-of-type(4) {
	opacity: 0;
	transform: rotate(-90deg);
	width: 100%;
}

p.l_home_info_drawer_icon_c {
	padding-bottom: 10px;
}

.l_home_info_drawer_icon_bar_wrap {
	height: 60px;
	position: relative;
}

.l_home_info_drawer_icon_bar {
	background-color: #333;
	height: 10px;
	position: absolute;
	transition: all 0.3s ease 0s;
	width: 100%;
}

.l_home_info_drawer_icon_bar:nth-of-type(1) {
	top: 0;
}

.l_home_info_drawer_icon_bar:nth-of-type(2) {
	top: 30px;
}

.l_home_info_drawer_icon_bar:nth-of-type(3) {
	top: 60px;
}

.l_home_info_drawer_icon_bar:nth-of-type(4) {
	top: 0;
	transform: rotate(-35deg);
	transform-origin: right;
	width: 100%;
}

.l_home_info_side {
	background-color: #DBDFD8;
	height: 100%;
	overflow-x: scroll;
	padding: 0 60px;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateX(100%);
	transition: transform 0.5s ease 0s;
	width: 60%;
}

.l_home_info_side.is-active {
	transform: translateX(0);
}

.l_home_info_drawer_background {
	background-color: rgba(0, 0, 0, 0.7);
	bottom: 0;
	cursor: pointer;
	height: 100%;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 0;
	transition: all 0.3s ease 0s;
	width: 100%;
}

.l_home_info_drawer_background.is-active {
	opacity: 1;
	pointer-events: visible;
}

.l_contact_form_dt {
	width: 20%;
}

.l_contact_form_dd {
	width: 80%;
}

}

@media screen and (max-width: 767px) {

.inner {
	padding: 0 20px;
}

.drawer_nav_icon {
	display: block;
	height: 60px;
	position: fixed;
	right: 20px;
	top: 40px;
	width: 60px;
	z-index: 1;
}

.drawer_nav_icon.is-active .drawer_nav_icon_bar:nth-child(1) {
	top: 20px;
	transform: rotate(-45deg);
}

.drawer_nav_icon.is-active .drawer_nav_icon_bar:nth-child(2) {
	opacity: 0;
	top: 20px;
}

.drawer_nav_icon.is-active .drawer_nav_icon_bar:nth-child(3) {
	top: 20px;
	transform: rotate(45deg);
}

.drawer_nav_content {
	background-color: #535D60;
	bottom: 0;
	height: 100%;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 0;
	transition: opacity 1s cubic-bezier(0.98, -0.19, 0, 1.24) 0s;
	width: 100%;
	z-index: 0;
}

.drawer_nav_content.is-active {
	opacity: 1;
	pointer-events: painted;
}

.drawer_nav_content .header_nav {
	display: flex;
	flex-direction: column;
	height: 100%;
	height: 60%;
	justify-content: center;
	opacity: 1;
	padding-top: 160px;
}

.drawer_nav_content .header_nav_lists {
	align-items: center;
	flex-direction: column;
	height: 100%;
	justify-content: flex-start;
}

.drawer_nav_content .header_nav_list {
	height: 25%;
	margin-left: 0;
	padding-left: 35vw;
	width: 100%;
}

.drawer_nav_content .header_nav_list a {
	color: #FFF;
	font-size: 36px;
	font-weight: bold;
}

.drawer_nav_content .header_nav_bottom {
	display: block;
	display: flex;
	flex-direction: column;
	height: 40%;
	justify-content: flex-start;
}

.drawer_nav_content .header_nav_bottom a {
	color: #FFF;
	display: block;
	font-size: 36px;
	font-weight: bold;
	height: 50%;
	padding: 10px;
}

.drawer_nav_background {
	opacity: 1;
}

.l_header .header_content {
	height: 100px;
}

.l_header .header_content .header_logo {
	position: fixed;
}

.header_logo {
	width: 150px;
}

.header_nav {
	display: none;
}

.home_info_cate_left {
	width: 100%;
}

.home_info_cate_left_map a {
	font-size: clamp(16px, 1.5vw, 24px);
}

.home_info_cate_left_map a:nth-of-type(3) {
	bottom: 30vw;
	right: 32vw;
}

.home_info_cate_left_map a:nth-of-type(4) {
	left: 28vw;
	top: 30vw;
}

.home_info_cate_left_map a:nth-of-type(5) {
	bottom: 11vw;
	right: 40vw;
}

.home_info_cate_right {
	margin-left: 0;
	width: 100%;
}

.home_info_cate_right_wrapper {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
}

.home_info_cate_right_price_btn a,
.home_info_cate_right_type_btn a {
	font-size: clamp(14px, 1vw, 24px);
	padding: 5px 10px;
}

.home_info_cate_right_price_btn a:nth-child(n+3),
.home_info_cate_right_type_btn a:nth-child(n+3) {
	margin-top: 10px;
}

.home_info_cate_right_order {
	font-size: clamp(16px, 1.5vw, 24px);
	margin-top: 30px;
}

.future_content_row_left {
	width: 100%;
}

.future_content_row_right {
	margin-top: 20px;
	width: 100%;
}

.staff_content_row img {
	width: 100%;
}

.staff_content_row_body {
	margin-top: 20px;
	width: 100%;
}

.event_content_card_items {
	gap: 20px;
	grid-template-columns: 1fr;
}

.footer_nav_item {
	width: 33%;
}

.footer_nav_item a {
	text-align: center;
}

.inner {
	padding: 0 20px;
}

.l_cate_items {
	grid-template-columns: repeat(1, 1fr);
}

.l_single_post_cate_list {
	font-size: 14px;
}

.l_single_post_cate_list:nth-child(n+3) {
	margin-top: 10px;
}

.l_single_post_cate_list:not(:nth-child(2n+1)) {
	margin-left: 10px;
}

.l_single_post_cta_g a {
	font-size: 24px;
	text-align: center;
	width: 100%;
}

.l_single_post_cta_g a:not(:first-child) {
	margin-top: 20px;
}

p.l_home_info_drawer_icon_c {
	display: none;
}

.l_home_info_side .l_home_info_drawer_content {
	padding-bottom: 100px;
}

.l_home_info_side .l_home_info_drawer_content .home_info_cate_wrapper .home_info_cate_left .home_info_cate_left_map a:nth-of-type(1) {
	bottom: 20vw;
	left: 13vw;
}

.l_home_info_side .l_home_info_drawer_content .home_info_cate_wrapper .home_info_cate_left .home_info_cate_left_map a:nth-of-type(3) {
	bottom: 22vw;
	right: 25vw;
}

.l_home_info_side .l_home_info_drawer_content .home_info_cate_wrapper .home_info_cate_left .home_info_cate_left_map a:nth-of-type(4) {
	left: 20vw;
	top: 15vw;
}

.l_home_info_side .l_home_info_drawer_content .home_info_cate_wrapper .home_info_cate_left .home_info_cate_left_map a:nth-of-type(5) {
	bottom: 11vw;
	right: 35vw;
}

.l_home_info_side .l_home_info_drawer_content .home_info_cate_wrapper .home_info_cate_right .home_info_cate_right_wrapper .home_info_cate_right_price .home_info_cate_right_price_btn a:nth-child(n+3) {
	margin-top: 0;
}

.inner {
	padding: 0 20px;
}

.inner {
	padding: 0 20px;
}

.inner {
	padding: 0 20px;
}

.inner {
	padding: 0 20px;
}

.l_contact_form_dt {
	width: 100%;
}

.l_contact_form_dd {
	margin-top: 20px;
	width: 100%;
}

.inner {
	padding: 0 20px;
}

}

