* {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
	border: 0;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
aside,
figure,
figcaption {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul,
li {
	list-style: none;
	list-style-type: none;
	text-decoration: none;
}

a {
	color: #333;
	cursor: pointer;
	text-decoration: none;
}

img {
	width: 100%;
}

.inner {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.section_content {
	padding: 120px 0;
}

.section_title {
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

.l_mv {
	height: 320px;
}

.l_mv.home_info {
	background-image: url(../img/l-home-info/l-home-info-mv.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.l_cate {
	align-items: center;
	display: flex;
	font-size: 48px;
	font-weight: bold;
	height: 100%;
	justify-content: center;
}

.l_header {
	background: rgba(255, 255, 255, 0.5);
}

.header {
	background: rgba(255, 255, 255, 0.5);
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.header_content {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}

.header_logo a {
	display: block;
	padding: 5px;
}

.header_nav_lists {
	display: flex;
}

.header_nav_list:not(:first-child) {
	margin-left: 24px;
}

.header_nav_bottom {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.header_nav_sns_lists {
	display: flex;
	justify-content: flex-end;
}

.header_nav_sns_list:not(:first-child) {
	margin-left: 24px;
}

.hero_mv {
	position: relative;
	z-index: -1;
}

.hero_mv .video {
	-o-object-fit: cover;
	height: 100vh !important;
	object-fit: cover;
	width: 100vw !important;
}

.hero_mv_message {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	color: #333;
	font-size: 32px;
	left: 15%;
	line-height: 1.25;
	padding: 20px;
	position: absolute;
	top: 55%;
}

.home_info_cate_wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
}

.home_info_cate_left {
	width: 58%;
}

.home_info_cate_left_map {
	background-image: url(../img/top/map.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 0;
	padding-top: 75%;
	position: relative;
	width: 100%;
	z-index: 0;
}

.home_info_cate_left_map_title {
	font-size: 36px;
	left: -3vw;
	position: absolute;
	top: 0;
}

.home_info_cate_left_map a {
	background-color: #535D60;
	border-radius: 10px;
	color: #FFF;
	display: block;
	font-size: 24px;
	padding: 8px;
	position: absolute;
}

.home_info_cate_left_map a:nth-of-type(1) {
	bottom: 11vw;
	left: 7vw;
}

.home_info_cate_left_map a:nth-of-type(2) {
	bottom: 2vw;
	left: 3vw;
}

.home_info_cate_left_map a:nth-of-type(3) {
	bottom: 11vw;
	right: 13vw;
}

.home_info_cate_left_map a:nth-of-type(4) {
	left: 15vw;
	top: 13vw;
}

.home_info_cate_left_map a:nth-of-type(5) {
	bottom: 9vw;
	right: 19vw;
}

.home_info_cate_right {
	margin-left: 20px;
	width: 38%;
}

.home_info_cate_right_wrap {
	width: 90%;
}

.home_info_cate_right_price_title,
.home_info_cate_right_type_title {
	font-size: 36px;
}

.home_info_cate_right_price_btn,
.home_info_cate_right_type_btn {
	margin-top: 20px;
}

.home_info_cate_right_price_btn a,
.home_info_cate_right_type_btn a {
	background-color: #535D60;
	border-radius: 10px;
	color: #FFF;
	display: inline-block;
	font-size: 24px;
	padding: 10px 20px;
}

.home_info_cate_right_price_btn a span,
.home_info_cate_right_type_btn a span {
	display: inline-block;
	font-size: 16px;
	line-height: 16px;
	margin-left: 5px;
	vertical-align: middle;
}

.home_info_cate_right_price_btn a:not(:nth-child(3n+1)),
.home_info_cate_right_type_btn a:not(:nth-child(3n+1)) {
	margin-left: 24px;
}

.home_info_cate_right_price_btn a:nth-child(n+4),
.home_info_cate_right_type_btn a:nth-child(n+4) {
	margin-top: 10px;
}

.home_info_cate_right_type {
	margin-top: 50px;
}

.home_info_cate_right_order {
	background-color: #535D60;
	border-radius: 10px;
	color: #FFF;
	display: block;
	font-size: 36px;
	margin-top: 50px;
	padding: 10px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.future {
	background-color: #DBDFD8;
}

.future_content_rows {
	margin-top: 30px;
}

.future_content_row {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.future_content_row:not(:first-child) {
	margin-top: 30px;
}

.future_content_row:nth-child(even) {
	flex-direction: row-reverse;
}

.future_content_row_left {
	width: 50%;
}

p.future_content_row_left_point {
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.0509803922);
	display: inline-block;
	font-size: 36px;
	font-weight: bold;
	padding: 10px 15px;
}

p.future_content_row_left_point span {
	display: inline-block;
	font-size: 55px;
	font-weight: bold;
	margin-left: 5px;
	vertical-align: sub;
}

.future_content_row_left_title {
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
}

p.future_content_row_left_message {
	line-height: 1.5;
	margin-top: 20px;
}

.future_content_row_right {
	width: 38%;
}

