@import 'variables';
.inner {
    max-width: $width__inner__pc;
    width: 100%;
    margin: 0 auto;
}

.section {
    &_content {
        padding: 120px 0;
    }
    &_title {
        font-size: 50px;
        font-weight: bold;
        text-align: center;
    }
}
.l_mv {
    height: 320px;
    &.home_info {
        background-image: url(../img/l-home-info/l-home-info-mv.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.l_cate {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: bold;
    font-size: 48px;
}