//マップ型変数breakpointsを定義
$breakpoints: (
    //キー値
    "sm": "screen and (max-width: 767px)",
    "md": "screen and (min-width: 768px) and (max-width:999px)",
    "lg": "screen and (min-width: 1000px) and (max-width:1199px)",
    "xl": "screen and (min-width: 1200px)"
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: sp) {
    //map-get(マップ型変数, キー)で値を取得
    @media #{map-get($breakpoints, $breakpoint)} {
        //この中をカスタムできる
        @content;
    }
}
