@import "reset";
@import "responsive";
@import "variables";
@import "common";

///
/// drawer_menu
///
.drawer_nav_icon {
    @include mq("xl") {
        display: none;
    }
    @include mq("lg") {
        display: none;
    }
    @include mq("md") {
        display: block;
        width: 60px;
        height: 60px;
        position: fixed;
        top: 40px;
        right: 20px;
        z-index: 1;
        &.is-active {
            .drawer_nav_icon_bar {
                &:nth-child(1) {
                    top: 20px;
                    transform: rotate(-45deg);
                }
                &:nth-child(2) {
                    top: 20px;
                    opacity: 0;
                }
                &:nth-child(3) {
                    top: 20px;
                    transform: rotate(45deg);
                }
            }
        }
    }
    @include mq("sm") {
        display: block;
        width: 60px;
        height: 60px;
        position: fixed;
        top: 40px;
        right: 20px;
        z-index: 1;
        &.is-active {
            .drawer_nav_icon_bar {
                &:nth-child(1) {
                    top: 20px;
                    transform: rotate(-45deg);
                }
                &:nth-child(2) {
                    top: 20px;
                    opacity: 0;
                }
                &:nth-child(3) {
                    top: 20px;
                    transform: rotate(45deg);
                }
            }
        }
    }
}
.drawer_nav_icon_bar {
    transition: transform 0.5s cubic-bezier(0.03, 1.9, 0.31, -1.17) 0s;
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: #000;

    &:nth-child(1) {
        top: 0;
    }
    &:nth-child(2) {
        top: 20px;
    }
    &:nth-child(3) {
        top: 40px;
    }
}
.drawer_nav_content {
    @include mq("xl") {
        display: none;
        pointer-events: none;
    }
    @include mq("lg") {
        pointer-events: none;
        display: none;
    }
    @include mq("md") {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        opacity: 0;
        pointer-events: none;
        transition: opacity 1s cubic-bezier(0.98, -0.19, 0, 1.24) 0s;
        background-color: $bg_accent;
        &.is-active {
            opacity: 1;
            pointer-events: painted;
        }
        .header_nav {
            opacity: 1;
            height: 100%;
            padding-top: 160px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 60%;
        }
        .header_nav_lists {
            height: 100%;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
        .header_nav_list {
            padding-left: 35vw;
            margin-left: 0;
            // text-align: center;
            width: 100%;
            height: 25%;
            a {
                font-size: 36px;
                font-weight: bold;
                color: $font_sub_color;
            }
        }
        .header_nav_bottom {
            height: 40%;
            display: block;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            a {
                height: 50%;
                display: block;
                padding: 10px;
                font-size: 36px;
                font-weight: bold;
                color: $font_sub_color;
            }
        }
    }
    @include mq("sm") {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        opacity: 0;
        pointer-events: none;
        transition: opacity 1s cubic-bezier(0.98, -0.19, 0, 1.24) 0s;
        background-color: $bg_accent;
        &.is-active {
            opacity: 1;
            pointer-events: painted;
        }
        .header_nav {
            opacity: 1;
            height: 100%;
            padding-top: 160px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 60%;
        }
        .header_nav_lists {
            height: 100%;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
        .header_nav_list {
            padding-left: 35vw;
            margin-left: 0;
            // text-align: center;
            width: 100%;
            height: 25%;
            a {
                font-size: 36px;
                font-weight: bold;
                color: $font_sub_color;
            }
        }
        .header_nav_bottom {
            height: 40%;
            display: block;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            a {
                height: 50%;
                display: block;
                padding: 10px;
                font-size: 36px;
                font-weight: bold;
                color: $font_sub_color;
            }
        }
    }
}

.drawer_nav_background {
    @include mq("xl") {
        opacity: 0;
    }
    @include mq("lg") {
        opacity: 0;
    }
    @include mq("md") {
        opacity: 1;
    }
    @include mq("sm") {
        opacity: 1;
    }
}

////
//header
////
.l_header {
    background: rgba(255, 255, 255, 0.5);
    & .header_content {
        height: 160px;
        @include mq('md') {
            height: 100px;
            & .header_logo {
                position: fixed;
            }
        }
        @include mq('sm') {
            height: 100px;
            & .header_logo {
                position: fixed;
            }
        }
    }
}
.header {
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    &_inner {
    }
    &_content {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_logo {
        @include mq("sm") {
            width: 150px;
        }
        @include mq("md") {
            width: 150px;
        }
        a {
            padding: 5px;
            display: block;
            img {
            }
        }
    }
    &_nav {
        @include mq("md") {
            display: none;
        }
        @include mq("sm") {
            display: none;
        }
        &_lists {
            display: flex;
        }
        &_list {
            &:not(:first-child) {
                margin-left: 24px;
            }
            a {
            }
        }
        &_bottom {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
            }
        }
        &_sns_lists {
            display: flex;
            justify-content: flex-end;
        }
        &_sns_list {
            &:not(:first-child) {
                margin-left: 24px;
            }
            a {
                img {
                }
            }
        }
    }
}
//main

//hero

.hero_mv {
    position: relative;
    z-index: -1;
    .video {
        object-fit: cover;
        width: 100vw !important;
        height: 100vh !important;
    }
    &_message {
        opacity: 0;
        border-radius: $border_main;
        position: absolute;
        top: 55%;
        left: 15%;
        padding: 20px;
        background: rgba(255, 255, 255, 0.5);
        color: #333;
        font-size: clamp(20px, 3vw, 38px);
        line-height: calc(40 / 32);
    }
}

//home_info

.home_info {
    &_inner {
    }
    &_content {
    }
    &_title {
    }
    &_cate_wrapper {
        margin-top: 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include mq("md") {
        }
        @include mq("sm") {
        }
    }
    &_cate_left {
        @include mq("md") {
            width: 100%;
        }
        @include mq("sm") {
            width: 100%;
        }
        width: 58%;
        &_map {
            z-index: -1;
            position: relative;
            width: 100%;
            height: 0;
            padding-top: 75%;
            background-image: url(../img/top/map.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            &_title {
                position: absolute;
                top: 0;
                left: 0;
                font-size: clamp(24px, 2vw, 36px);
            }
            a {
                @include mq("sm") {
                    font-size: clamp(16px, 1.5vw, 24px);
                }
                @include mq("md") {
                    // font-size: clamp(16px, 1.5vw, 24px);
                }
                display: block;
                position: absolute;
                font-size: clamp(24px, 1.5vw, 36px);
                color: $font_sub_color;
                background-color: $btn_main_color;
                padding: 8px;
                border-radius: $border_main;
                &:nth-of-type(1) {
                    bottom: 11vw;
                    left: 7vw;
                }
                &:nth-of-type(2) {
                    bottom: 2vw;
                    left: 3vw;
                }
                &:nth-of-type(3) {
                    right: 13vw;
                    bottom: 11vw;
                    @include mq("sm") {
                        bottom: 30vw;
                        right: 32vw;
                    }
                    @include mq("md") {
                        bottom: 30vw;
                        right: 32vw;
                    }
                }
                &:nth-of-type(4) {
                    top: 13vw;
                    left: 15vw;
                    @include mq("sm") {
                        left: 28vw;
                        top: 30vw;
                    }
                    @include mq("md") {
                        left: 28vw;
                        top: 30vw;
                    }
                }
                &:nth-of-type(5) {
                    right: 19vw;
                    bottom: 9vw;
                    @include mq("sm") {
                        right: 40vw;
                        bottom: 11vw;
                    }
                    @include mq("md") {
                        right: 40vw;
                        bottom: 11vw;
                    }
                }
            }
        }
    }
    &_cate_right {
        @include mq("md") {
            width: 100%;
            margin-left: 0;
        }
        @include mq("sm") {
            width: 100%;
            margin-left: 0;
        }
        width: 38%;
        margin-left: 20px;
        &_wrapper {
            @include mq("xl") {
                width: 100%;
            }
            @include mq("lg") {
                width: 100%;
            }
            @include mq("sm") {
                margin-top: 30px;
                display: flex;
                justify-content: space-around;
            }
            @include mq("md") {
                margin-top: 30px;
                display: flex;
                justify-content: space-around;
            }
        }
        &_wrap {
            @include mq("xl") {
                width: 100%;
            }
            @include mq("lg") {
                width: 100%;
            }
            width: 48%;
            // display: flex;
            // justify-content: space-between;
        }
        &_price,
        &_type {
            &_title {
                font-size: clamp(24px, 1.25vw, 36px);
            }
            &_btn {
                margin-top: 20px;
                a {
                    @include mq("sm") {
                        padding: 5px 10px;
                        font-size: clamp(14px, 1vw, 24px);
                        &:nth-child(n + 3) {
                            margin-top: 10px;
                        }
                    }
                    @include mq("md") {
                        padding: 5px 10px;
                        // font-size: clamp(14px, 1.0vw, 24px);
                        &:nth-child(n + 3) {
                            margin-top: 10px;
                        }
                    }
                    padding: 10px 20px;
                    display: inline-block;
                    border-radius: $border_main;
                    color: $font_sub_color;
                    background-color: $btn_main_color;
                    font-size: clamp(16px, 1.5vw, 24px);
                    span {
                        vertical-align: middle;
                        margin-left: 5px;
                        display: inline-block;
                        line-height: 16px;
                        font-size: 16px;
                    }
                    @include mq("xl") {
                        &:not(:nth-child(3n + 1)) {
                            margin-left: clamp(5px, 0.5vw, 24px);
                        }
                        &:nth-child(n + 4) {
                            margin-top: 10px;
                        }
                    }
                    @include mq("lg") {
                        &:not(:nth-child(3n + 1)) {
                            margin-left: clamp(5px, 0.5vw, 24px);
                        }
                        &:nth-child(n + 4) {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
        &_price {
            @include mq("xl") {
                width: 100%;
            }
            @include mq("lg") {
                width: 100%;
            }
            width: 48%;
            &_title {
            }
            &_btn {
            }
        }
        &_type {
            @include mq("xl") {
                margin-top: 50px;
            }
            @include mq("lg") {
                margin-top: 50px;
            }
            &_title {
            }
            &_btn {
            }
        }
        &_order {
            @include mq("xl") {
                margin-top: 50px;
            }
            @include mq("lg") {
                margin-top: 50px;
            }
            display: block;
            width: fit-content;
            // margin: 0 auto;
            border-radius: $border_main;
            font-size: clamp(24px, 2vw, 36px);
            padding: 10px;
            color: $font_sub_color;
            background-color: $btn_main_color;
            @include mq("sm") {
                font-size: clamp(16px, 1.5vw, 24px);
                margin-top: 30px;
            }
            @include mq("md") {
                font-size: clamp(16px, 1.5vw, 24px);
                margin-top: 30px;
            }
        }
    }
}

//future

.future {
    background-color: $bg_sub_main;
}
.future_inner {
}
.future_content {
}
.future_title {
}
.future_content_rows {
    margin-top: 30px;
}
.future_content_row {
    &:not(:first-child) {
        margin-top: 30px;
    }
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    &:nth-child(even) {
        flex-direction: row-reverse;
    }
}
.future_content_row_left {
    @include mq("sm") {
        width: 100%;
    }
    @include mq("md") {
        width: 100%;
    }
    width: 50%;
}
p.future_content_row_left_point {
    box-shadow: 0px 4px 4px 0px #0000000d;
    display: inline-block;
    padding: 10px 15px;
    background-color: $bg_main;
    border-radius: $border_main;
    font-weight: bold;
    font-size: 36px;
    span {
        display: inline-block;
        font-weight: bold;
        font-size: 55px;
        vertical-align: sub;
        margin-left: 5px;
    }
}
.future_content_row_left_title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
p.future_content_row_left_message {
    margin-top: 20px;
    line-height: 1.5;
}
.future_content_row_right {
    @include mq("sm") {
        margin-top: 20px;
        width: 100%;
    }
    @include mq("md") {
        margin-top: 20px;
        width: 100%;
    }
    width: 38%;
    img {
    }
}
//staff
.staff {
}
.staff_inner {
}
.staff_content {
}
.staff_title {
}
.staff_content_rows {
    margin-top: 40px;
}
.staff_content_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &:nth-child(even) {
        flex-direction: row-reverse;
    }
    &:not(:first-child) {
        margin-top: 40px;
    }
    img {
        width: 30%;
        @include mq('md') {
            width: 100%;
        }
        @include mq('sm') {
            width: 100%;
        }
    }
}
.staff_content_row_body {
    width: 55%;
    @include mq('md') {
        width: 100%;
        margin-top: 20px;
    }
    @include mq('sm') {
        width: 100%;
        margin-top: 20px;
    }
}
.staff_content_row_body_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.staff_content_row_body_name {
    font-size: 32px;
}
.staff_content_row_body_type {
    width: 60%;
}
.staff_content_row_body_message {
    margin-top: 30px;
    line-height: 1.5;
}

//event

.event {
}
.event_inner {
}
.event_content {
}
.event_title {
}
.event_content_card_items {
    margin-top: 60px;
    display: grid;
    grid-template-rows: auto;
    @include mq("xl") {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    @include mq("lg") {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    @include mq("md") {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    @include mq("sm") {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}
.event_content_card_item {
    border-radius: $border_main;
    box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    article {
        a {
            display: block;
            img {
                // object-fit: cover;
                display: block;
                height: 260px;
            }
            time {
                display: block;
            }
            h3.event_item_title {
                margin-top: 5px;
                font-size: 18px;
            }
        }
    }
}
.event_item_body {
    padding: 15px;
}
.event_view_more {
    display: block;
    width: fit-content;
    margin: 45px auto 0;
    font-weight: bold;
    font-size: 36px;
    background-color: $bg_accent;
    color: $font_sub_color;
    border-radius: $border_main;
    padding: 25px 45px;
}

//contact

.contact {
}
.contact_inner {
}
.contact_content {
    &.section_content {
        line-height: 1.3;
        padding: 0 0 120px;
    }
    a {
        background-color: $bg_accent;
        color: $font_sub_color;
        text-align: center;
        display: block;
        width: fit-content;
        margin: 0 auto;
        border-radius: $border_main;
        overflow: hidden;
        padding: 25px 45px;
        font-size: 36px;
        font-weight: bold;
    }
}

//footer

footer {
    background-color: $bg_sub_main;
    padding: 40px 0;
}

.footer_inner {
}
.footer_logo {
    margin: 0 auto;
    width: 135px;
    img {
    }
}
.footer_nav_items {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    @include mq('lg') {
        justify-content: space-around;
    }
}
.footer_nav_item {
    @include mq('md') {
        width: 33%;
    }
    @include mq('sm') {
        width: 33%;
    }
    @include mq('xl') {
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
    @include mq('lg') {}
    a {
        @include mq('sm') {
            text-align: center;
        }
        @include mq('md') {
            text-align: center;
        }
        display: block;
        padding: 5px;
    }
}
.footer_sns_items {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.footer_sns_item {
    width: 32px;
    &:not(:first-child) {
        margin-left: 20px;
    }
    a {
        display: block;
        padding: 5px;
        img {
        }
    }
}
.page_top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $bg_accent;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        object-fit: contain;
        display: block;
        width: 30px;
        height: 30px;
    }
}
