// フォント指定
$font_ja:'Noto Serif JP',sans-serif;//都度変更
$font_en:'Patua One',sans-serif;//都度変更
$font_title:'Amatic SC',sans-serif;//都度変更
$font_number:'Damion',sans-serif;//都度変更
// フォントカラー
$font_default_color: #222222;//都度変更
$font_sub_color: #FFF;//都度変更

// 背景色
$bg_default: #f3efeb;//都度変更
$bg_accent: #eae0d5;//都度変更
$bg_white: #fff;//都度変更

// インナー幅
$width__inner__pc: 1180px;//都度変更
$width__inner__tab: 777px;//都度変更
$width__inner__sp: 335px;//都度変更